.lead {
	color: red;
	font-family: Georgia;
	font-size: 80px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
.thumbnail{
	text-align: center;
}
h3 {
	color: red;
	font-family: Georgia;
}
body {
	text-align: center;
}